:root{
  --clr-gray-100: hsl(81, 28%, 90%);
  --clr-gray-500: hsl(150, 14%, 84%);
  --clr-yellow-500: hsl(44, 88%, 66%);
  --clr-yellow-600: hsl(44, 100%, 55%);
  --clr-brown-800: hsl(120, 2%, 20%);
  --clr-brown-900: hsl(60, 1%, 14%);
  --clr-red: hsl(8, 82%, 58%);

  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 600;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input{
  outline: none;
}

a{
  text-decoration: none;
  color: inherit;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

body{
  background-color: var(--clr-gray-500);
  color: var(--clr-brown-900);
  font-family: "Ubuntu", serif;
  font-weight: var(--fw-regular);
  font-size: 16px;
  padding-bottom: 4rem;
}

header{
  width: 100%;
  height: 100%;
  background-color: var(--clr-gray-100);
  padding: 1rem 2rem;
}

header h1{
  font-size: 1.5rem;
}

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.3rem;
  gap: 2rem;
  padding: 1rem 2rem;
  font-weight: var(--fw-regular);
}

.semester-box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input{
  border: 1px var(--clr-brown-900) solid;
  border-radius: 8px;
  padding: .3rem;
  text-align: center;
  background-color: var(--clr-gray-100);
}

.primary-input{
  width: 50px;
}

.secondary-input{
  width: 75px;
  font-size: .9rem;
}

.form-group{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-container{
  align-self: center;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.btn{
  width: 100px;
  padding: .5em 0;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  transition: .2s;
  font-weight: var(--fw-bold);
  font-size: 1rem;
}

.btn:hover{
  transform: scale(1.0925);
}

.btn:active{
  transform: scale(.9);
}

.submit-btn{
  background-color: var(--clr-yellow-500);
}

.clear-btn{
  background-color: var(--clr-red);
}